<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Reset Password</title>
</head>
<body>
<div class="w3-panel w3-center w3-xxlarge ">Recovery Account Form</div>
<br>

<div class="w-3 panel w3-yellow w3-round-large w3-border w3-center w3-hover-text-red w3-text-large w3-text-black">
    <h4>Please, provide your email to reset your password! The instructions will be send in your email address!</h4>
</div>
<hr>
<br>
<form action="" method="post">
    <br>
    <div class="w3-panel w3-center w3-round-large w3-white w3-padding-32">
        <div class="email"><br>
        </div>
        <label for=email class="w3-large w3-center">Forgot Password?</label><br>
        <br>
        <br>
        <input class="w3-center w3-round-large w3-padding-large" type="email" id="email"  placeholder="Insert your email!" autocomplete="email" required><br>
        <br>
        <br>
        <br>
        <input type="submit" formaction="NewPwd.html" value="SUBMIT" class="w3-btn w3-green w3-round-large w3-large">
        <br>
    </div>
</form>
<br>
</body>
<footer>
    <p class="w3-painel w3-center w3-teal w3-medium"> Created by Owls Games - 2024</p>
</footer>
</html>